/*MENU
0 -Geral
1- Nav Bar
2 - Section 2

*/

/* 0 - Geral */

:root   {
    --cinza-primario: #1C1C1C;
    --cinza-secundário: #ADADAD;
    --cinza-terciário:#252525;
    --creme:#E7E4D8;
    --cimento:#D6D3C8;

}



/* 1 - Nav Bar */

header{
    width: 100%;

}

#navh2{
    color: #ffffff;
    text-align: center;
    font-family: Georgia, serif;
    display: inline-block;
    font-size: 50px;
    font-weight: 1200;
    margin-top:20px;
}

nav {
    
    background-color: var(--cinza-primario);
    
}

nav a{
    margin-top:10px;
    color:#ffffff;
    text-decoration: none;
    border-radius: 20px;
    padding: 8px 20px;
    transition: 0.3s;
    font-family: Georgia, serif;
    text-align: right;
   
}

.link{
    position: relative;
}
.link:after{
    content: '';
    position: absolute;
    width: 0; height: 6px;
    display: block;
    margin-top: 5px;
    left: 0;
    background: #fff;
    transition: width .4s ease;
    -webkit-transition: width .4s ease;
  }
   
  .link:hover:after{
    width: 100%;
    right: 0;
    background: #fff;
  }



#listanav{
    
  text-align: center;
  
  
    
}

nav ul li {

    display: inline-block;
    font-size: 1.25em;
    margin-top:20px;
    margin-bottom: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
  
}

.home{
    background-image: url("../img/bg-intro.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    color: #ffffff;
    font-family: Georgia, serif;
    text-align: center;

}

.home .center{
    
   margin: 0 auto;
    color:#ffffff;
    margin-right: auto;
    width:50%;
    
  }

  .home .line{
      width:28px;
      margin: 0 auto;
      border-left:solid 8px #ffffff;
      border-bottom: solid 8px #ffffff;
      border-radius: 5%;
      margin-bottom: 70px;

  }

.home h2{
    font-weight: bolder;
    font-size: 4em;
   
    margin-bottom: 30px;
    margin-top:150px;
    text-align: center;
    text-transform: uppercase;
 
}

.home h3{
    margin-top:30px;
    font-style: italic;
    font-size:2em;
}
/*section 2 */
.center2{
    margin:0 20%;
}

 .center2 h2{
     text-align: center;
     font-size:3em;
     color:var(--cinza-terciário);
     margin:50px 0 50px 0;
     font-weight: bold;
  
 }



 .center2 p{
     width: 270px;   
     font-style: italic;
     text-align: center;
     margin: 0 auto;
     margin-bottom: 50px;
     margin-top:40px;
     font-size:18px;
     word-wrap: break-word;
 }   

 .container{
     position: relative;
     

 }
.text-box{
 position: absolute;
  bottom:30px;
  left:350px;
  background-color: var(--cinza-terciário);
  color: white;
  font-style: italic;
  width:200px;
  height: 50px;
  text-align: center;
  font-size:2em;
}

.center2 img{
    margin-bottom: 100px;
    margin: 5% 25%;
}

.section2{
    background-color: var(--creme);
    height: 200vh;
    border-top-color: var(--cimento);
    border-bottom-color: var(--cimento);
    padding: 100px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    
    
}

.section2 h2{
    margin:40px;
    text-align: center;
    font-size: 3em;
    font-weight: bolder;
  
}

.section2 p{
    width:240px;
    height: 100px;
    margin: 0 auto;
    padding: 20px;
    text-align: justify;
}

.center3{
    text-align: center;
  
  
}


.outer-marrom {
    background-color:#492901;
    width:150px; 
    height:150px; 
    position:relative;
    border:1px solid #492901;
    border-radius: 50%;
    margin: 0 auto;
    
    
}
.inner1m {
    background-color:var(--creme);
    top: 5%; left:5%; 
    width:90%; 
    height:90%; 
    position: absolute;
    border:1px solid var(--creme);
    border-radius: 50%;
    
}
.inner2m {
    background-color:#492901;
    top: 10%; left:10%; 
    width:80%; 
    height:80%; 
    position: absolute;
    border:1px solid #492901;
    border-radius: 50%;
}

.outer-laranja {
    background-color:#C27640;
    width:150px; 
    height:150px; 
    position:relative;
    border:1px solid #C27640;
    border-radius: 50%;
    margin: 0 auto;
   
  
    
    
}
.inner1l {
    background-color:var(--creme);
    top: 5%; left:5%; 
    width:90%; 
    height:90%; 
    position: absolute;
    border:1px solid var(--creme);
    border-radius: 50%;
    
}
.inner2l {
    background-color:#C27640;
    top: 10%; left:10%; 
    width:80%;
    height:80%; 
    position: absolute;
    border:1px solid #C27640;
    border-radius: 50%;
}

.outer-amarelo {
    background-color:#D7A54D;
    width:150px; 
    height:150px; 
    position:relative;
    border:1px solid #D7A54D;
    border-radius: 50%;
    margin:0 auto;
    
}
.inner1a {
    background-color:var(--creme);
    top: 5%; left:5%; 
    width:90%; 
    height:90%;
    position: absolute;
    border:1px solid var(--creme);
    border-radius: 50%;
    
}
.inner2a {
    background-color:#D7A54D;
    top: 10%; left:10%;
    width:80%; 
    height:80%; 
    position: absolute;
    border:1px solid #D7A54D;
    border-radius: 50%;
}

.section2 a{
    color:#252525;
    text-decoration: none;
    font-style: bolder;
    line-height: 15px;
    transition:0.3s;
    padding:10px 15px;
    border: 3px solid var(--cinza-primario); 
    text-transform: uppercase;
    font-weight: bolder;
    margin-left:50px
}

.section2 a:hover{
    background-color:var(--cinza-primario);
    color:white;
    transition: 0.3s;
}

/*section 3*/

.section3{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

.container3{
    position:relative;
    margin-top:100px;
    margin-bottom: 300px;
    text-align: center;
}

.container img{
    margin-top: 50px;
    
    
    
}
.text-box3{
    position: absolute;
     bottom:-90%;
     left:35.5%;     
     color: var(--cinza-primario);
     text-align: left;
     
    
}
.text-box3 h2{
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 30px;


}

.text-box3 p{
    font-size:1.25em;
    width:500px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 30px;
    
}


.text-box3 a{
    color:#252525;
    text-decoration: none;
    line-height: 40px;
    text-align: center; 
    padding:15px 20px;
    font-size: 1em;
    font-weight: bolder;
    text-transform: uppercase;
    color: #252525;
    border: 3px solid black;
    transition:0.3s;
}

.text-box3 a:hover{
    background-color:black;
    color:white;
    transition: 0.3s;

}


.section4 {
    background-color:var(--creme);
    text-align: center;
    padding: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}



.container4{
    position:relative;
    text-align: center;
    margin-top:350px;
    margin-bottom: 300px;
}

.text-box4{
    position: absolute;
     bottom:-60%;    
     left:35.5%;     
     color: var(--cinza-primario);
     text-align: left;
     
}

.text-box4 p{
    font-size: 3em;
    font-weight: bolder;
    color:var(--cinza-primario);
    width: 500px;
    margin-bottom: 10px;
}

#p2 {
    font-size: 1.75em;
    font-weight: normal;
    font-style: italic;
    color:var(--cinza-primario);
    width: 300px;
    letter-spacing: 1px;
    text-align:left;
    
}

.container4 input{
    text-align: left;
    width:380px;
    height: 40px;
    font-size: 1em;
    font-weight: bolder;
    color: #252525;
    border: 3px solid var(--cinza-primario);
    background-color: var(--creme);
    
}


.container4 a{
    color:white;
    text-decoration: none;
    text-align: center;
    font-weight: normal;
    line-height: 40px;
    font-size: .8em;
    font-weight: normal;
    text-transform: uppercase;
    border: 3px solid var(--cinza-primario);
    background-color: var(--cinza-primario);
    padding: 2px 5px;
    transition:0.3s;
}

.container4 a:hover{
    background-color:var(--creme);
    transition: 0.3s;
    border: 3px solid var(--cimento);
    color:black;
   


}

::placeholder{
    color:var(--cinza-secundário);
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: left;
    font-weight: bold;
    font-size:1em;
}

/* ultima section */

.last{
    background-color:var(--cimento);
    height: 50vh;
    text-align: center;
    font-family: Georgia,serif;
    padding: 10px;
}

.last p{
    width: 300px;
    height: 80px;
    font-size:1.25em;
    color:var(--cinza-primario);
    line-height: 1.4;
        
}

.last h2{
    margin-top:60px;
    font-size: 4em;
    color:white;
    font-weight: bolder;
    margin-left:20px;
}

.container5{
    position:relative;
    text-align: center;
    margin-top:250px;
    margin-bottom: 300px;
}

.text-box5{
    position: absolute;
     bottom:-60%;    
     left:35.5%;     
     color: var(--cinza-primario);
     text-align: left;